
@{
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="~/css/Laboratorian.css" />
    <link rel="stylesheet" href="~/css/Login.css" />

    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" />
</head>
<body>
    <div class="laboratorian12">
        <img class="lab-1-icon" alt="" src="~/images/img_lab1.png" />

        <button class="laboratorian-child"></button>
        <button class="submit1">Submit</button>
        <input class="laboratorian-item" type="text" />

        <input class="laboratorian-inner" type="text" />

        <input class="laboratorian-child1" type="text" />

        <input class="laboratorian-child2" type="text" />

        <div class="laboratorian-detail">Laboratorian Detail</div>
        <div class="name2">Name...</div>
        <div class="phone-no1">Phone no...</div>
        <div class="email-add1">Email Add...</div>
        <div class="password7">Password...</div>
        <input class="laboratorian-child3" type="text" />

        <input class="laboratorian-child4" type="text" />

        <div class="gender1">Gender</div>
        <div class="date-of-birth1">Date of Birth</div>
        <div class="male-female1">male / female</div>
        <div class="dd-mm-yy1">dd-mm-yy</div>
        <img class="microsoft-outlook-icon1"
             alt=""
             src="~/images/img_microsoftoutlook.png" />

        <img class="tooth-icon10" alt="" src="~/images/img_tooth_51x45.png" />

        <div class="clinic5">Clinic</div>
        <a asp-controller="Receptionist" asp-action="Index" class="receptionist7" id="receptionist">Receptionist</a>
        <a asp-controller="About" asp-action="Index" class="about5" id="about">About</a>
        <a asp-controller="Contact" asp-action="Index" class="contact5" id="contact">Contact</a>
        <a asp-controller="Home" asp-action="Index" class="register7" id="register">Logout</a>
        <a asp-controller="Laboratorian" asp-action="Index" class="laboratorian7" id="laboratorian">Laboratorian</a>
        <a asp-controller="Doctor" asp-action="Index" class="doctor7" id="doctor">Doctor</a>


    </div>

    <script>
        var receptionistText = document.getElementById("receptionistText");
        if (receptionistText) {
            receptionistText.addEventListener("click", function (e) {
                window.location.href = "./receptionist.html";
            });
        }

        var aboutText = document.getElementById("aboutText");
        if (aboutText) {
            aboutText.addEventListener("click", function (e) {
                window.location.href = "./about.html";
            });
        }

        var registerText = document.getElementById("registerText");
        if (registerText) {
            registerText.addEventListener("click", function (e) {
                window.location.href = "register.html";
            });
        }

        var loginText = document.getElementById("loginText");
        if (loginText) {
            loginText.addEventListener("click", function (e) {
                window.location.href = "./login.html";
            });
        }

        var logoutText = document.getElementById("logoutText");
        if (logoutText) {
            logoutText.addEventListener("click", function (e) {
                window.location.href = "./login.html";
            });
        }

        var laboratorianText = document.getElementById("laboratorianText");
        if (laboratorianText) {
            laboratorianText.addEventListener("click", function (e) {
                window.location.href = "./laboratorian.html";
            });
        }

        var doctorText = document.getElementById("doctorText");
        if (doctorText) {
            doctorText.addEventListener("click", function (e) {
                window.location.href = "./doc-detail.html";
            });
        }
    </script>
</body>
</html>


