@model IEnumerable<RegisterViewModel>
@{
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="~/css/global.css" />
    <link rel="stylesheet" href="~/css/Register.css" />
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700;800&display=swap" />




    <script>

        document.getElementById("rectangleButton").addEventListener("click", function () {
            window.location.href = "@Url.Action("Index", "Login")";
        });


        var register = document.getElementById("register");
        if (register) {
            register.addEventListener("click", function (e) {
                // Please sync "Login" to the project
            });
        }

        var login = document.getElementById("login");
        if (login) {
            login.addEventListener("click", function (e) {
                // Please sync "Login" to the project
            });
        }

        var receptionist = document.getElementById("receptionist");
        if (receptionist) {
            receptionist.addEventListener("click", function (e) {
                // Please sync "Receptionist" to the project
            });
        }

        var about = document.getElementById("about");
        if (about) {
            about.addEventListener("click", function (e) {
                // Please sync "About" to the project
            });
        }

        var contact = document.getElementById("contact");
        if (contact) {
            contact.addEventListener("click", function (e) {
                // Please sync "Contact" to the project
            });
        }

        var register1 = document.getElementById("register1");
        if (register1) {
            register1.addEventListener("click", function (e) {
                window.location.href = "register.html";
            });
        }

        var login1 = document.getElementById("login1");
        if (login1) {
            login1.addEventListener("click", function (e) {
                // Please sync "Login" to the project
            });
        }

        var laboratorian = document.getElementById("laboratorian");
        if (laboratorian) {
            laboratorian.addEventListener("click", function (e) {
                // Please sync "Laboratorian" to the project
            });
        }

        var doctor = document.getElementById("doctor");
        if (doctor) {
            doctor.addEventListener("click", function (e) {
                // Please sync "Doc. Detail" to the project
            });
        }
    </script>
</head>
<body>
    <div class="register">
        <img class="regs-1-icon" alt="" src="~/images/img_regs1.png" />

        <div class="register-child"></div>
        <b class="registration">Registration</b>
        <input class="register-item" type="text" />

        <input class="register-inner" type="text" />

        <input class="rectangle-input" type="text" />

        <input class="register-child1" type="text" />

        <input class="register-child2" type="text" />

      @*   <button class="rectangle-button" id="rectangleButton"></button> *@

        <button type="submit" class="rectangle-button" id="rectangleButton" ></button>
        

        <a asp-controller="Login" asp-action="Index" class="register1" id="register">Register</a>
        <div class="do-you-have">Do you have an Account ?</div>
        <a class="login" id="login" href="@Url.Action("Index", "Login")">Login</a>
        <div class="name">Name</div>
        <div class="phone-number">Phone number</div>
        <div class="e-mail-id">E-mail id</div>
        <div class="password">Password</div>
        <div class="re-enter-password">Re-enter Password</div>
        <img class="tooth-icon" alt="" src="~/images/img_tooth_51x45.png" />

        <a class="clinic">Clinic </a>
        <a asp-controller="Receptionist" asp-action="Index" class="receptionist" id="receptionist">Receptionist</a>
        <a asp-controller="About" asp-action="Index" class="about" id="about">About</a>
        <a asp-controller="Contact" asp-action="Index" class="contact" id="contact">Contact</a>
        <a asp-controller="Login" asp-action="Index" class="register2" id="register1">Login</a>
        <a asp-controller="Laboratorian" asp-action="Index" class="laboratorian" id="laboratorian">Laboratorian</a>
        <a asp-controller="Doctor" asp-action="Index" class="doctor" id="doctor">Doctor</a>

    </div>

   
</body>
</html>
