
@{
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="~/css/Doctor.css" />
    <link rel="stylesheet" href="~/css/Login.css" />

    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" />
</head>
<body>
    <div class="doc-detail">
        <img class="download-1-1" alt="" src="~/images/img_download11.png" />

        <div class="doctor-details">Doctor Details</div>
        <input class="doc-detail-child" type="text" />

        <input class="doc-detail-item" type="text" />

        <input class="doc-detail-inner" type="text" />

        <input class="doc-detail-child1" type="text" />

        <input class="doc-detail-child2" type="text" />

        <input class="doc-detail-child3" type="text" />

        <input class="doc-detail-child4" type="text" />

        <button class="doc-detail-child5"></button>
        <button class="doc-detail-child6"></button>
        <button class="doc-detail-child7"></button>
        <div class="name1">Name...</div>
        <div class="phone-no">Phone no...</div>
        <div class="experience">Experience...</div>
        <div class="email-add">Email Add...</div>
        <div class="password6">Password...</div>
        <div class="gender">Gender</div>
        <div class="date-of-birth">Date of Birth</div>
        <button class="edit">Edit</button>
        <button class="delete">Delete</button>
        <button class="submit">Submit</button>
        <div class="dd-mm-yy">dd-mm-yy</div>
        <div class="male-female">male / female</div>
        <img class="microsoft-outlook-icon"
             alt=""
             src="~/images/img_microsoftoutlook.png" />

        <img class="tooth-icon7" alt="" src="~/images/img_tooth_51x45.png" />
        <div class="clinic5">Clinic</div>
        <a asp-controller="Receptionist" asp-action="Index" class="receptionist7" id="receptionist">Receptionist</a>
        <a asp-controller="About" asp-action="Index" class="about5" id="about">About</a>
        <a asp-controller="Contact" asp-action="Index" class="contact5" id="contact">Contact</a>
        <a asp-controller="Home" asp-action="Index" class="register7" id="register">Logout</a>
        <a asp-controller="Laboratorian" asp-action="Index" class="laboratorian7" id="laboratorian">Laboratorian</a>
        <a asp-controller="Doctor" asp-action="Index" class="doctor7" id="doctor">Doctor</a>


    </div>

    <script>
        var receptionistText = document.getElementById("receptionistText");
        if (receptionistText) {
            receptionistText.addEventListener("click", function (e) {
                window.location.href = "./receptionist.html";
            });
        }

        var aboutText = document.getElementById("aboutText");
        if (aboutText) {
            aboutText.addEventListener("click", function (e) {
                window.location.href = "./about.html";
            });
        }

        var registerText = document.getElementById("registerText");
        if (registerText) {
            registerText.addEventListener("click", function (e) {
                window.location.href = "register.html";
            });
        }

        var loginText = document.getElementById("loginText");
        if (loginText) {
            loginText.addEventListener("click", function (e) {
                window.location.href = "./login.html";
            });
        }

        var logoutText = document.getElementById("logoutText");
        if (logoutText) {
            logoutText.addEventListener("click", function (e) {
                window.location.href = "./login.html";
            });
        }

        var laboratorianText = document.getElementById("laboratorianText");
        if (laboratorianText) {
            laboratorianText.addEventListener("click", function (e) {
                window.location.href = "./laboratorian.html";
            });
        }

        var doctorText = document.getElementById("doctorText");
        if (doctorText) {
            doctorText.addEventListener("click", function (e) {
                window.location.href = "./doc-detail.html";
            });
        }
    </script>
</body>
</html>

